# dependencies
node_modules
.pnp
.pnp.js

# misc
.DS_Store
*.pem

# build
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# history
.history

# db
dev.db
dev.db-journal
apps/server/src/trpc/trpc.js
apps/server/src/trpc/trpc.d.ts.map
apps/server/src/trpc/trpc.d.ts
apps/server/src/trpc.js
apps/server/src/trpc.d.ts.map
apps/server/src/trpc.d.ts
apps/server/src/services/tokens.js
apps/server/src/services/tokens.d.ts.map
apps/server/src/services/tokens.d.ts
apps/server/src/services/index.js
apps/server/src/services/index.d.ts.map
apps/server/src/services/index.d.ts
apps/server/src/services/exclude.js
apps/server/src/services/exclude.d.ts.map
apps/server/src/services/exclude.d.ts
apps/server/src/server.js
apps/server/src/server.d.ts.map
apps/server/src/server.d.ts
apps/server/src/modules/user/user.js
apps/server/src/modules/user/user.d.ts.map
apps/server/src/modules/user/user.d.ts
apps/server/src/modules/routes.js
apps/server/src/modules/routes.d.ts.map
apps/server/src/modules/routes.d.ts
apps/server/src/modules/auth/auth.js
apps/server/src/modules/auth/auth.d.ts.map
apps/server/src/modules/auth/auth.d.ts
apps/server/src/middleware/index.js
apps/server/src/middleware/index.d.ts.map
apps/server/src/middleware/index.d.ts
apps/server/src/middleware/authorization.js
apps/server/src/middleware/authorization.d.ts.map
apps/server/src/middleware/authorization.d.ts
apps/server/src/interfaces/global-interfaces.js
apps/server/src/interfaces/global-interfaces.d.ts.map
apps/server/src/interfaces/global-interfaces.d.ts
apps/server/src/database/redis.js
apps/server/src/database/prisma.js
apps/server/src/database/prisma.d.ts.map
apps/server/src/database/prisma.d.ts
apps/server/src/database/index.js
apps/server/src/database/index.d.ts.map
apps/server/src/database/index.d.ts
apps/server/src/configs/index.js
apps/server/src/configs/index.d.ts.map
apps/server/src/configs/index.d.ts
apps/server/src/configs/environmental.js
apps/server/src/configs/environmental.d.ts.map
apps/server/src/configs/environmental.d.ts
apps/server/src/configs/cookies.js
apps/server/src/configs/cookies.d.ts.map
.idea/vcs.xml
.idea/modules.xml
.idea/Kings-of-loli( dev).iml
.idea/inspectionProfiles/Project_Default.xml
.idea/discord.xml
.idea/Kings-of-loli( dev).iml
.idea/Kings-of-loli( dev).iml
apps/server/src/configs/cookies.d.ts
apps/client/package.json
apps/client/.eslintrc.js
