@import url('../../css/colors.module.css');

.bg {
  display: flex;
  flex-direction: column;
  gap: 400px;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;

  background-image: url('.././../../resources/img/bg/bg.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 70%;
  height: 70%;
  padding: 100px;

  background-image: url('.././../../resources/img/bg/window.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 18vw;
  height: 20vw;
  padding-top: 10px;

  background-image: url('.././../../resources/img/bg/main-stone.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.profiles {
  position: relative;
  width: 80%;
  height: 70%;
}

.userProfile {
  display: block;

  width: 100%;
  height: 100%;

  background-image: url('.././../../resources/img/profile/avatar.png');
  background-size: 100% 100%;
  border-radius: 100%;

  image-rendering: pixelated;
}

.userProfileActive {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-image: url('.././../../resources/img/profile/avatar-select.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.userProfileActive:hover {
  opacity: 1;
}

.buttons {
  position: relative;
  width: 20%;
  height: 10%;
}

.logoutButton {
  display: block;

  width: 100%;
  height: 100%;

  font-size: 2rem;

  background-image: url('.././../../resources/img/profile/button.png');
  background-size: 100% 100%;
  border: none;

  image-rendering: pixelated;
}

.logoutButtonActive {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  opacity: 0;
  background-image: url('.././../../resources/img/profile/button-select.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.logoutButtonActive:hover {
  opacity: 1;
}

.username {
  font-size: 2em;
}

.rating {
  font-size: 1.8em;
}
