@import url('../../../css/colors.module.css');

.authorizationButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: var(--grey);
  background-size: 100% 100%;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #676586, #b002c3, #9295a8);
  border-image-slice: 1;
}

.buttonSvgText {
  position: relative;
  font-size: 2rem;
  color: var(--light-yellow);
}

.navButtons {
  width: 100%;
  border-radius: 100px;
  transition: all 0.12s;
}

.navButtons:hover {
  transform: scale(1.1);
}
