.leave {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;
  padding: 1rem;

  background-image: url('../../../../resources/img/map/hud/window.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  image-rendering: crisp-edges;
}

.context {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 50%;

  font-size: 2rem;
  text-align: center;

  background: #6b789c90;
  border: 5px solid black;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 20%;
}

.button {
  width: 45%;
  height: 50%;

  font-size: 3rem;
  text-align: center;

  background: #6b789c;
  border: 5px solid black;
}
