@import url('../../css/colors.module.css');

.signUpBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 59%;

  font-size: 3rem;
  color: var(--light-yellow);

  border: 5px solid transparent;
  border-image-slice: 1;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding-top: 8%;
}

.signUpFormInput {
  width: 15vw;
  height: 3vh;
  padding: 8px;
  padding-left: 50px;

  color: var(--silver-gray);

  background: none;
  border: none;
  border-bottom: 3px solid var(--black);
  outline: none;
}

.passwordInput {
  background-image: url('../../../resources/img/authorization/icons/password.png');
  background-repeat: no-repeat;
  background-position-y: -2px;
  background-size: 15% 100%;

  image-rendering: pixelated;
}

.nicknameInput {
  background-image: url('../../../resources/img/authorization/icons/profile.png');
  background-repeat: no-repeat;
  background-position-y: -2px;
  background-size: 15% 100%;

  image-rendering: pixelated;
}

.submit {
  width: 20vw;
  height: 10vh;

  background: none;
  background-image: url('../../../resources/img/authorization/icons/submit.png');
  background-size: 100% 100%;
  border: none;

  image-rendering: pixelated;

  transition: all 0.12s;
}

.submit:hover {
  transform: scale(1.1);
}
