.rangeBar {
  display: flex;
  align-items: center;

  width: 30%;
  height: 100%;
  padding: 5px;

  background-image: url('../../../resources/img/progress-bar/progress-bar.png');
  background-size: 100% 100%;

  image-rendering: crisp-edges;
}

.rangeProgress {
  display: flex;
  flex-direction: row-reverse;

  width: 100%;
  height: 100%;

  background-image: url('../../../resources/img/progress-bar/progress-bar-full.png');
  background-size: 100% 100%;

  image-rendering: crisp-edges;
}

.currentProgres {
  height: 100%;
  background: #8693b6;
}
