@import url('../../css/colors.module.css');

.nav {
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-width: 70px;
  height: 100%;
  padding-right: 1.5%;
  padding-left: 1%;

  background: var(--gray);
  background-image: url('../../../resources/img/menu/left-menu-background.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.navButtons {
  background-size: 100% 100%;
  border-radius: 100px;
  image-rendering: pixelated;
  transition: all 0.12s;
}

.navButtons:hover {
  transform: scale(1.1);
}
