/* stylelint-disable css-modules/no-global-scoped-selector */
:root {
  --yellow: #dbd75d;
  --light-yellow: #fbf7b0;
  --light-green: #83b533;
  --red: #f20505;
  --silver-gray: #d6c9c9;
  --gray: #00000080;
  --black: #080707;
  --dark-purple: #2d1829;
  --platinum-gray: #746771;
  --dark-brown: #1a0606;
  --gray-progress: #8693b6;
}
