@import url('../../css/colors.module.css');

.signInFormBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  width: 100%;

  color: var(--light-yellow);

  background: var(--dark-purple);
  border: 5px solid transparent;
  border-radius: 20px;
  border-image: linear-gradient(to bottom right, #676586, #b002c3, #9295a8);
  border-image-slice: 1;
  box-shadow: 0 0 10px 1px var(--gray);
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.signInFormHr {
  width: 70%;
  height: 10px;

  background: var(--dark-purple);
  border: none;
  border-radius: 10px;
}

.errorMessage {
  color: var(--red);
}

.signInFormInput {
  width: 50%;
  height: 50%;
  padding: 8px;

  color: var(--dark-purple);

  background: var(--platinum-gray);
  border: 5px solid transparent;
  border-radius: 20px;
  border-radius: 5px;
  border-image: linear-gradient(to bottom right, #676586, #b002c3, #9295a8);
  border-image-slice: 1;
  outline: none;
}

.signInFormInput::placeholder {
  color: var(--dark-purple);
}
