@import url('../../css/colors.module.css');

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-image: url('.././../../resources/img/bg/bg.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  min-width: 75vw;
  height: fit-content;
  padding: 6rem 0;

  /* background-image: url('.././../../resources/img/bg/window.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */

  image-rendering: pixelated;
}

.userContainer {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 1rem;

  background: #8f8888;
  border: 2px solid black;

  /* background-image: url('.././../../resources/img/bg/main-stone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */

  image-rendering: pixelated;
}

.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.userProfile {
  width: min(20vh, 30vw);
  height: min(20vh, 30vw);

  background-image: url('.././../../resources/img/profile/avatar.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  image-rendering: pixelated;
}

.userProfileActive {
  position: fixed;

  width: min(20vh, 30vw);
  height: min(20vh, 30vw);

  opacity: 0;
  background-image: url('.././../../resources/img/profile/avatar-select.png');
  background-size: 100% 100%;

  image-rendering: pixelated;
}

.userProfileActive:hover {
  opacity: 1;
}

.buttons {
  position: relative;
}

.username {
  width: min(20vh, 30vw);
  height: 100%;

  text-align: center;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: normal;
}

.logoutButton {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-image: url('.././../../resources/img/profile/button.png');
  background-size: 100% 100%;
  border: none;

  image-rendering: pixelated;
}

.logoutButtonActive {
  position: absolute;
  z-index: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  opacity: 0;
  background: none;
  background-image: url('.././../../resources/img/profile/button-select.png');
  background-size: 100% 100%;
  border: none;

  image-rendering: pixelated;
}

.logoutButtonActive:hover {
  opacity: 1;
}

.username {
  font-size: 2em;
}

.rating {
  font-size: 1.8em;
}
