@import url('../../css/colors.module.css');

.signUpBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  width: 65%;
  height: 100%;

  color: var(--block-color);

  border-radius: 20px;
  box-shadow: 0 0 10px 1px var(--gray);
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.signUpFormHr {
  width: 70%;
  height: 2%;

  background: var(--gray);
  border: none;
  border-radius: 10px;
}

.errorMessage {
  color: var(--red);
}

.signUpFormInput {
  width: 50%;
  height: 6%;

  color: var(--dark-purple);

  background: var(--platinum-gray);
  border-radius: 5px;
  outline: none;
}

.signUpFormInput::placeholder {
  color: var(--dark-purple);
}

.submitButton {
  width: 100%;
  background: none;
}
