.background {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100vw;
  height: 100vh;

  background-image: url('../../../../resources/img/bg/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
